body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
}
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.main {
  height: 90vh;
}

.mt-5{
  margin-top: 10px;
}
.ml-5{
  margin-left: 25px;
}
.mr-2{
  margin-right: 21px;
}
.mr-3{
  margin-right: 15px;
}
.mr-5{
  margin-right: 45px;
}
.mr-10{
  margin-right: 45px;
}
.ml-10{
  margin-left: 70px;
}

.mb-5 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 35px;
}
.mb-7{
  margin-bottom: 25px;
}
.mtop-5{
  margin-top: 30px;
}
.mtop-4{
  margin-top: -30px;
}
.width-content {
  width: fit-content;
}
.ycolor-black{
  color: black;
}

.flex-justify {
  justify-content: center;
}

.flex-align {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.flex-between {
  justify-content: space-between;
}

.flex-align-between {
  align-items: space-between;
}
.flex-wrap{
  flex-wrap: wrap;
}

.h-auto {
  height: fit-content;
}

.navbar{
  display: flex;
  padding: 5px 25px;
  border-bottom: 1px solid rgb(223, 223, 223);
  justify-content: space-between;
  height: 10vh;
}
.logo{
  width: 65px;
  height: 60px;
}
.nav-links{
  display: flex;
  padding: 22px 25px;
  margin-right: 1rem;
}
.nav-profile{
  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px 7px;
  color: #ffff;
  margin-left: 15px;
  margin-top: -8px;
  border-radius: 30px;
  font-size: 11px;
  background: rgb(84, 68, 242);
}
.profile-text{
  display: flex;
  height: 7vh;
  font-size: 12px;
  margin-top: -15px;
  margin-left: 8px;
  flex-direction: column;
  background-color:  rgb(245, 246, 250);
}
.side-bar{
  display:flex ;
  flex-direction: column;
  width: 300px;
  height: 70%;
  padding: 12px 20px;
}
.sidebar-text{
  font-size: 15px;
  margin-left: 10px;
}
.sidebar-text:hover{
  color:rgb(124, 124, 124);
  font-weight: bolder;
}
a{
  text-decoration: none;
  color: rgb(117, 117, 117);
}
.main-section{
  /* border: 1px solid red; */
  width: 1200px;
  height: 90vh;
  margin-left: -6rem;
  background-color:  rgb(245, 246, 250);
}
.middle,
.right{
  /* border: 1px solid green; */
  width: 400px;
  height: 90vh;
}
.middle{
  width:700px;
  padding:10px 20px;
}
small{
  color: rgb(117, 117, 117);
}
.top-area{
  width: 750px;
  background-color: #ffff;
  border-radius: 15px;
  height: 15vh;
  padding: 20px 23px;
}
.estimation1{
  margin-left: 5rem;
}
.estimation1>strong,
.estimation>strong{
  margin-top: 1rem;

}
.bottom-area{
  width: 750px;
  margin-top: 1rem;
  background-color: #ffff;
  border-radius: 15px;
  height: 65vh;
}
.first-toparea{
  width: 1100px;
  padding: 5px 5px;
  justify-content: space-between;
}
.right-toparea{
  width: 400px;
  padding-left: 1rem;
  flex-direction: row;
}
button{
  background: rgb(84, 68, 242);
  border: none;
  width: 250px;
  padding: 7px 5px;
  color: #ffff;
  font-size: 15px;
  border-radius: 5px;
  margin-left: 1rem;
}
.newbranch{
  background-color: #ffff;
  color: rgb(88, 88, 88);
  margin-top: 5px;
  padding: 8px 8px;
  border-radius: 5px;
  width: 230px;
  height: 40px;
}
.firstbm-layer{
  width: 750px;
  border-bottom: 1px solid rgb(223, 223, 223);
  height: 10vh;
  padding: 6px 25px;
}
.firstbm-layer>p{
  font-size: 13px;
  width: 250px;
}
.firstbm-icon{
  margin-top: 20px;
  margin-left: 30rem;
}
.rowvertical,
.overview{
  margin-left: 10px;
  border: 1px solid rgb(223, 223, 223);
  height: 30px;
  width: 30px;
  padding:5px 5px ;
  border-radius: 5px;
}
.rowvertical:hover,
.overview:hover{
  border: 1px solid rgb(84, 68, 242);
}
.secondbm-layer{
  justify-content: space-between;
  width: 750px;
  border-bottom: 1px solid rgb(223, 223, 223);
  padding: 6px 25px;
}
.secondbm-layer>p{
  color: rgb(84, 68, 242);
  font-size: 14px;
}
.searchspace{
  width: 300px;
  padding: 2px 5px;
  height: 4vh;
  color: rgb(124, 124, 124);
  border: none;
  outline: none;
}
.search{
  border: 1px solid rgb(223, 223, 223);
  margin-top: 1rem;
}
.search:hover{
  border: 2px solid black;
}
.thirdbm-layer{
  justify-content: space-between;
  width: 750px;
  padding: 6px 25px;
  font-size: 13px;
}
.manage{
  margin-top: 1rem;
  color: rgb(84, 68, 242);
}
/* .bank-layers{
  font-size: 14px;
} */
.layer1{
  font-size: 15px;
  height: 5vh;
  padding: 6px 25px;
  justify-content: space-between;
  color:rgb(88, 88, 88) ;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.layers{
  font-size: 14px;
  justify-content: space-between;
  padding: 6px 15px;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.layers-text{
  padding-top: 5px;
  display:flex;
}
.banklogo{
  width: 35px;
  height: 35px;
  margin-right: 2rem;
}
.dodo{
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
}
.ikeja{
  color: #1A72F7;
}
.lekki{
  color: #EA8A15;
}
.abuja{
  color: #B01AF7;
}
.LSA{
  flex-direction: column;
}

@media screen and (max-width:480px){
  .mobileview{
    display: flex;
    flex-direction: row;
  }
  .mobile{
    flex-direction: column;
  }
  .main-section{
    flex-direction: column;
    /* border: 1px solid red; */
    margin-left:2px;
    width: 450px;
    height: 100vh;
    padding: 10px 16px;
    background-color:  rgb(245, 246, 250);
  }
  .middle{
  width: 350px;
  height: 50vh;
}
.right{
  margin-top: 3rem;
  width: 350px;
  height: 100vh;
  /* border: 1px solid red; */
}
.estimation{
  /* border: 1px solid red; */
  width: 180px; 
}
.estimation1{
  margin-left: 1rem;
}
.top-area{
   /* border: 1px solid red; */
  width: 500px;
  height: 15vh;
  padding: 20px 1px; 
}
  h4 {
    display: none;
  }
  .block{
    display: flex;
    flex-direction: row;
    width: 100px;
    flex-wrap: nowrap;
  }
  .block1{
    display: flex;
    flex-direction: row;
    width: 120px;
    flex-wrap: nowrap;
  }
  .bottom-area{
    width: 350px;
    margin-top: 1rem;
    background-color: #ffff;
    border-radius: 15px;
    height: 65vh;
  }
  .first-toparea{
    width: 700px;
    padding: 5px 5px;
  }
  .right-toparea{
    width: 400px;
    padding-left: 3rem;
    flex-direction: row;
  }
  .firstbm-layer{
    width: 350px;
    border-bottom: 1px solid rgb(223, 223, 223);
    height: 10vh;
    padding: 6px 25px;
  }
  .firstbm-icon{
    margin-top: 20px;
    margin-left: 4rem;
  }
  .secondbm-layer{
    justify-content: space-between;
    width: 350px;
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 6px 25px;
  }
  .searchspace{
    width: 100px;
  padding: 2px 5px;
  height: 4vh;
  color: rgb(124, 124, 124);
  border: none;
  outline: none;
  font-size: 10px;
  }
  .thirdbm-layer{
    justify-content: space-between;
    width: 350px;
    padding: 6px 25px;
    font-size: 13px;
  }
  .bank-layers{
    width: 700px;
}
.LSA{
  width: 350px;
  flex-direction: row;
 margin-left: -15rem;
}
.LSA>.block{
  width: 200px;
}
}
